/*
* http://www.feifan.xyz/
*/

/*日历控件：灰色*/
.DynarchCalendar-topCont {
    border: 1px solid #aaa !important;
}
.DynarchCalendar, .DynarchCalendar-focused {
	border-color: #fff !important;
}
.DynarchCalendar {
    background-color: #e8e8e8 !important;
	-moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.DynarchCalendar-topBar, .DynarchCalendar-bottomBar, .DynarchCalendar-focused .DynarchCalendar-topBar, .DynarchCalendar-focused .DynarchCalendar-bottomBar {
	background-color: #ddd !important;
}
.DynarchCalendar-focused .DynarchCalendar-hover-week {
	background-color: #ddd !important;
}
.DynarchCalendar-focused .DynarchCalendar-tooltipCont {
	background-color: #ddd !important;
	border-color: #aaa !important;
}
.DynarchCalendar-menu-year  {
    font-weight: normal !important;
}
.DynarchCalendar-title div {
    text-shadow: none !important;
}
.DynarchCalendar-dayNames div {
    text-shadow: none !important;
}
.DynarchCalendar-menu {
    background-color: #ddd !important;
}
.DynarchCalendar-menu table td div {
    font-weight: normal !important;
}
.DynarchCalendar-time td {
	font-weight: normal !important;
}
.DynarchCalendar-day-today {
    color: #003d79 !important;
}

.ems-table thead th {
    background-color: #333 !important;
}
.ems-table .tfooter li>a {
    color: #333 !important;
}
.ems-table .tfooter li>a:hover {
    color: #fff !important;
    background: #333 !important;
}
.ems-table .tfooter li>a.active {
    color: #fff !important;
	background: #333 !important;
}
