/*
* http://www.feifan.xyz/
*/

/*日历控件：绿色*/
.DynarchCalendar-topCont {
    border: 1px solid #cbe29e !important;
}
.DynarchCalendar, .DynarchCalendar-focused {
	border-color: #fff !important;
}
.DynarchCalendar {
    background-color: #f5ffe8 !important;
	-moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.DynarchCalendar-topBar, .DynarchCalendar-bottomBar, .DynarchCalendar-focused .DynarchCalendar-topBar, .DynarchCalendar-focused .DynarchCalendar-bottomBar {
	background-color: #cbe29e !important;
}
.DynarchCalendar-focused .DynarchCalendar-hover-week {
	background-color: #efffd7 !important;
}
.DynarchCalendar-day-selected {
    background-color: #cbe29e !important;
}
.DynarchCalendar-menu-year  {
    font-weight: normal !important;
}
.DynarchCalendar-title div {
    text-shadow: none !important;
}
.DynarchCalendar-pressed-title div {
	background-color: #548c00 !important;
}
.DynarchCalendar-dayNames div {
    text-shadow: none !important;
}
.DynarchCalendar-menu {
    background-color: #f5ffe8 !important;
}
.DynarchCalendar-menu table td div {
    font-weight: normal !important;
}
.DynarchCalendar-time td {
	font-weight: normal !important;
}
.DynarchCalendar-hover-bottomBar-today {
	border: 1px solid #548c00 !important;
}
.DynarchCalendar-pressed-bottomBar-today {
	background-color: #548c00 !important;
}
.DynarchCalendar-day-today {
    color: #003d79 !important;
}

.ems-table thead th {
    background-color: #618d03 !important;
}
.ems-table .tfooter li>a {
    color: #618d03 !important;
}
.ems-table .tfooter li>a:hover {
    color: #fff !important;
    background: #618d03 !important;
}
.ems-table .tfooter li>a.active {
    color: #fff !important;
	background: #618d03 !important;
}
